

body{
    align-content: center;
    background-color: lightslategray;
    background-size: cover;
    content: none;
    padding-left: 30px;
    overflow-y: scroll;
}
figcaption{
    font-size: larger;
    color:aliceblue;
}
p{
    font-size: larger;
    color: aliceblue;
}
h1,h2{
    color: aliceblue;
}

#displayChallenges{
    background-color: blueviolet;
    color: aliceblue;
}

img{
    border-radius: 10%;
}

#slider{
    background-color: hsl(209, 11%, 36%);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    display: flex;
    border-radius: 2%;
    width: fit-content;
   scroll-behavior: smooth;;

}
#slide{
    
}
